$default-font-family: 'Open Sans', sans-serif;
$default-dark-color: #5f5f5f;
$default-hover-color: #0f0f0f;

#hic-share-url-modal {

    color: $default-dark-color;

    .modal-body {
        font-family: $default-font-family;
        font-size: 16px;
        font-weight: 400;
    }
}

#hic-qr-code-image {
    display:none;
}

#hic-embed-container {
    display:none;
}

a#emailButton {
    color: $default-dark-color;
    text-decoration: none;
}

a#emailButton:hover,
a#emailButton:focus,
a#emailButton:active  {
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}

#hic-embed-button:hover,
#hic-embed-button:focus,
#hic-embed-button:active  {
    cursor: pointer;
    font-weight: 700;
}

#hic-qr-code-button:hover,
#hic-qr-code-button:focus,
#hic-qr-code-button:active  {
    cursor: pointer;
    font-weight: 700;
}

.hic-social-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    height: 40px;

    div {
        margin-left: 8px;
        margin-right: 8px;
        //background-color: red;
    }

    div:first-child {
        width:65px;
        margin-top:4px;
    }

    margin-bottom: 10px;
}

.hic-social-button {
    float: left;
}

.site-container {

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #5f5f5f;

    margin-left: 64px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.site-container label {
    display: block;
    font-size: 24px;
}

.site-container select {
    display: block;
    font-size: 16px;
}

.load-track-button {

    position: relative;
    width: 128px;
    height: 32px;
    margin: 4px;

    color: white;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;

    background-color: #58c0fb;
}

.load-track-button:hover,
.load-track-button:focus,
.load-track-button:active  {
    cursor: pointer;
    background-color: #3a8ab4;
}

.remove-track-button {

    position: relative;
    height: 32px;
    width: 128px;

    margin: 4px;

    color: white;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;

    background-color: red;
}

.remove-track-button:hover,
.remove-track-button:focus,
.remove-track-button:active  {
    cursor: pointer;
    background-color: #7f0000;
}

.juicebox-app-caption-container {
    margin-top: 64px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    .juicebox-app-clone-container {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .hic-caption-container {
        overflow-y: auto;
        height: 64px;
        width: 100%;

        margin-top: 16px;
        padding-top: 4px;
        padding-left: 8px;

        font-size: medium;
        background-color: #efefef;
    }

}

.juicebox-app-clone-button {

    cursor: pointer;

    color: $default-dark-color;

    i.fa-plus-circle {
        float: left;
    }

    margin-top: 10px;
}

.juicebox-app-clone-button:hover,
.juicebox-app-clone-button:focus,
.juicebox-app-clone-button:active {
    color: $default-hover-color;
}

.hic-root-selected {
    border-color: #5f5f5f;
}

